/* Подключение шрифтов */
@font-face {
  font-family: "ManropeBold";
  src: url(../fonts/Manrope-Bold.ttf);
}

@font-face {
  font-family: "Manrope";
  src: url(../fonts/Manrope-Regular.ttf);
}

@font-face {
  font-family: "ManropeLight";
  src: url(../fonts/Manrope-Light.ttf);
}

/* Сброс базовых стилей */

* {
  padding: 0;

  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  outline: none;
}

/* Общие стили для всего приложения */

body {
  background: #031b34;
  padding-top: 8px;
  height: 100%;
  margin: 0;
  


.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  
}

a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

a,
button {
  cursor: pointer;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}

a:hover,
button:hover {
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}

button:hover {
  background-color: #ae67fa;
}

ul li {
  list-style-type: none;
}

h1 {
  font-size: 60px;
  color: #ae67fa;
}

h2 {
  font-size: 34px;
}

h1,
h2 {
  font-family: "ManropeBold", sans-serif;
  background: linear-gradient(90deg, #ae67fa 1.84%, #f49867 102.67%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h3 {
  font-family: "ManropeBold", sans-serif;
  color: #fff;
  font-size: 24px;
}

/*! Nick */
/* Шрифт для каритинки №1*/
h4 {
  font-family: "ManropeBold", sans-serif;
  color: #fff;
  font-size: 25px;
  margin: 0;
}

/* Шрифт для каритинок №2-5*/
h5 {
  font-family: "ManropeBold", sans-serif;
  color: #fff;
  font-size: 19px;
  margin: 0;
}

/* Шрифт для дат */
h6 {
  font-family: "Manrope", sans-serif;
  color: #fff;
  font-size: 12px;
}
/* Ссылки */
.blog_articles_nav {
  font-family: "ManropeBold", sans-serif;
  color: #fff;
  font-size: 12px;
}
/*! Nick */

p {
  font-size: 16px;
  color: #fff;
}

.btn {
  display: flex;
  padding: 1rem 2rem;
  background-color: transparent;
  color: #fff;
  border: none;
  font-size: 16px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.primary-btn {
  background-color: #ff4820;
}

/* ? Это КОНТЕЙНЕР!? */
.section {
  max-width: 1169px;
  width: 100%;
}
/* ? */

.lined_header {
  background: url("../assets/img/gradient_line.svg") no-repeat 0 0 transparent;
  padding: 1rem 0;
}

/* Стили для Шапки */

.header {
  display: flex;
  max-width: 1169px;
  margin: 0 auto;
  width: 100%;
  padding: 2rem 0;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  background: #031b34;
}

.header .header-logo {
  width: 162px;
}

.header .header__menu .menu {
  display: flex;
  column-gap: 2rem;
}

.header .header__menu .menu .menu__item a {
  color: #fff;
  border-bottom: 1px solid transparent;
}

.header .header__menu .menu .menu__item:hover a {
  border-bottom-color: #fff;
}

.header .header__menu .menu .menu__item.active a {
  color: #f49867;
  border-bottom-color: #f49867;
}

.header .cta_buttons {
  display: flex;
  column-gap: 1rem;
}

/* Стили для первого экрана (Хиро секция) */

.hero_section {
  display: flex;
  justify-content: space-between;
  column-gap: 1rem;
  min-height: 60vh;
  margin: 14rem 0 3rem;
}

.hero_section .hero_section__left {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 3rem;
  width: 75%;
}

.hero_section .hero_section__left .left__description {
  color: #81afdd;
}

.hero_section .hero_section__left .left__cta_buttons {
  display: flex;
  width: 100%;
}

.hero_section .hero_section__left .left__cta_buttons input[type="text"] {
  min-width: 250px;
  width: 70%;
  padding: 8px 32px;
  border-radius: 4px 0 0 4px;
  border: 1px solid #052d56;
  border-bottom: none;
  background-color: #052d56;
}

.hero_section .hero_section__left .left__cta_buttons .btn {
  border-radius: 0 4px 4px 0;
}

.hero_section .hero_section__right {
  height: 100%;
}

.hero_section .hero_section__right img {
  width: 100%;
}

.hero_section .hero_section__left .left__social_approve {
  display: flex;
  width: 777.29px;
  height: 39.61px;
}

.hero_section .hero_section__left .left__social_approve .people {
  margin: 13.58px;
  font-family: "Manrope";
  font-size: 12px;
}

/* Секция брендов */

.brands_section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 6rem 0;
  column-gap: 3rem;
}

/* Что такое Chat GPT */

.what_is_chatgpt_section {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  margin: 6rem 0;
  row-gap: 7rem;
  background: url(../assets/img/what_is_gpt_3_bg.svg) no-repeat 0 0 / cover;
}

.what_is_chatgpt_section .what_is_chatgpt_section__top {
  display: flex;
}

.what_is_chatgpt_section .what_is_chatgpt_section__top .top__header {
  flex: 30%;
}

.what_is_chatgpt_section .what_is_chatgpt_section__top .top__content {
  flex: 65%;
  color: #81afdd;
  font-size: 14px;
}

.what_is_chatgpt_section .what_is_chatgpt_section__middle {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.what_is_chatgpt_section .what_is_chatgpt_section__middle .middle__header {
  width: 500px;
}

.what_is_chatgpt_section .what_is_chatgpt_section__middle a {
  color: #ff8a71;
  font-size: 16px;
  border-bottom: 1px solid transparent;
}

.what_is_chatgpt_section .what_is_chatgpt_section__middle a:hover {
  border-bottom: 1px solid #ff8a71;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.what_is_chatgpt_section .what_is_chatgpt_section__bottom {
  display: flex;
  justify-content: space-between;
  align-items: start;
  column-gap: 2rem;
}

.what_is_chatgpt_section .what_is_chatgpt_section__bottom .bottom__container {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.what_is_chatgpt_section
  .what_is_chatgpt_section__bottom
  .bottom__container
  .container__content {
  color: #81afdd;
  font-size: 14px;
  line-height: 1.8;
}

/* Будущее наступило */

.future_here {
  display: flex;
  column-gap: 6rem;
  margin: 6rem 0 2rem;
}

.future_here .future_here__left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 2rem;
  flex: 2;
}

/* .future_here .future_here__left .left__header {
} */

.future_here .future_here__left .left__cta {
  color: #f49867;
  border-bottom: 1px solid transparent;
}

.future_here .future_here__left a:hover {
  border-bottom: 1px solid #f49867;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.future_here .future_here__right {
  flex: 3;
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
}

.future_here .future_here__right .right__container {
  display: flex;
  justify-content: space-between;
}

.future_here .future_here__right .right__container .container__header {
  width: 35%;
}

.future_here .future_here__right .right__container .container__content {
  width: 55%;
  color: #81afdd;
}

/*Превосходя все ожидания */
.request_early_access_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 60vh;
  margin-bottom: 3rem;
}

.request_early_access_section .request_early_access__left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.VRwoman__img {
  max-width: 100%;
  height: auto;
}

.request_early_access_section {
  min-width: 1044px;
  min-height: 607.53px;
  top: 2416px;
  left: 177px;
}

.request_early_access_section .right_header {
  max-width: 426px;
  font-size: 34px;
  line-height: 1.2;
  color: #fff;
}

.request_early_access_section .request_early_access__right {
  margin-top: auto;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  width: 50%;
}

.request_early_access_section .request_it {
  font-size: 16px;
  color: #71e5ff;
}

.request_early_access_section .container__content {
  width: 419px;
  font-size: 16px;
  line-height: 30px;
  color: #81afdd;
}

.request_early_access_section .right__cta {
  width: auto;
  color: #ff8a71;
  font-size: 16px;
  border-bottom: 1px;
  cursor: pointer;
}

/* Запросите ранний доступ */

.sign_up_and_research {
  margin-top: 154.47px;
  margin-bottom: 154.35px;
  width: 1170px;
  height: 172.65px;
  background: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10.7236px;
  display: flex;
}

.sign_up_and_research .upper_text {
  font-size: 12px;
  line-height: 30px;
  color: #0e0e0e;
  padding-left: 46px;
  padding-top: 23.21px;
}

.sign_up_and_research .down_text {
  width: 850px;
  font-size: 24px;
  line-height: 35px;
  color: #000000;
  padding-left: 46px;
  padding-right: 34;
}

.sign_up_and_research .btn {
  margin: 57.41px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 189.14px;
  height: 59.4px;
  background: #000000;
  border-radius: 40px;
}

/* Медиа запросы для адаптива */

@media screen and (max-width: 1024px) {
  .header {
    flex-direction: column;
  }
}

/*! Nick  */


.section {
  display: flex;
  justify-content: center;
  /* flex-direction: column;
  flex-wrap: wrap; */
  gap: 50px;
}

.con_2 {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.con_3 {
  display: flex;
  flex-direction: column;
}

.blog_articles_first {
  width: 418px;
  background: #042c54;
  border-radius: 10px;
  overflow: hidden;
  height: 695px;
}

.blog_articles {
  width: 327px;
  background: #042c54;
  border-radius: 10px;
  overflow: hidden;
  height: 323px;
  margin-bottom: 47px;
}

.blog_articles_img_first {
  width: 419px;
  height: 287px;
}

.blog_articles_img {
  width: 329px;
  height: 130px;
}

.blog_articles_data {
  /* font-weight: 300; */
  font-size: 12px;
  margin-bottom: 1px;
  opacity: 0.7;
  color: #fff;
  /* font-family: 'Manrope'; */
}

.blog_text_1 {
  padding: 29px 30px;
}

.blog_text {
  padding: 7px 26px 14px 17px;
}

.blog_articles_title_1 {
  font-size: 25px;
  margin-bottom: 187px;
}

.blog_articles_title {
  font-size: 19px;
  margin-bottom: 13px;
}

.blog_articles_nav_1 {
  margin-bottom: 27px;
}

.blog_articles_nav {
  margin-bottom: 14px;
}

.blog_articles_link_1 {
  margin-bottom: 27px;
  font-size: 12px;
  opacity: 0.7;
}

.blog_articles_link {
  margin-bottom: 14px;
  font-size: 12px;
  opacity: 0.7;
}
/*! Nick  */
/* /* K */

/* шрифт для ссылок в подвале */
h7 {
  font-family: "Manrope", sans-serif;
  color: #fff;
  font-size: 14px;
}

/* .Footer {
  background: #031B34;
  padding: 62px 0;
  

}
.container {
}
.enticing__question { 
  font-size: 62px;
  font-weight: 800;

}
.item__link {
} 
.end {
}
.Footer {
  background: #031b34;
  padding: 62px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  text-align: center;
}
.enticing__question {
}
.buttons_enticing {
  margin-top: 100px;
}
.enticing_singin {
  border: 1px solid white; /* Устанавливаем белую рамку 
  background-color: transparent; /* Делаем фон прозрачным, если нужно 
  color: white; /* Цвет текста кнопки */
  /* padding: 18px 30px; */ /* Отступы внутри кнопки 
  cursor: pointer; /* Указатель при наведении 
}
.btn {
}
 */
/*  .Footer {

}
.Footer_string {
} */
.container {
  text-align: center;
}
.enticing__question {
  padding-top: 196px ;
  margin:  0 15% 0 15%;
  text-align: center;
  display: flex;
  justify-content: center;
  
}

.buttons_enticing {
  padding: 64px 0;
  display:flex;
  justify-content:center;
}
/* .buttons_ {
  
} */
.enticing_singin {
  border: 1px solid white; 
}
/* .btn {
} */
.footer1 {
  padding: 180px;
}
.Footer_Footer {
  display: flex;
  flex-direction: row;
}
.Footer_Footer_png {
  width: 186px;
  height: 117px;
  padding-right: 288px;
}
.street {
  opacity: 0.7;
  width: 186px;
  height: 64px;
  
}
.yadurak li {
  margin-bottom: 20px;

}
.Footer_Footer_links {
  width: 54px;
  height: 192px;
  font-style: normal;
  font-size: 14px;
  line-height: 19px;
  opacity: 0.7;


  color: #FFFFFF;


}
.Footer_Footer_links_o {
  width: 50px;
  height: 16px;
  font-size: 12px;
  line-height: 16px;
  padding-top: 34px;
  opacity: 0.7;
  color: #FFFFFF;


}
.Footer_Footer_links_s {
  width: 54px;
  height: 16px;
  font-size: 12px;
  line-height: 16px;
  padding-top: 34px;
  opacity: 0.7;


  color: #FFFFFF;
}
.Footer_Footer_links_count {
  width: 53px;
  height: 16px;
  font-size: 12px;
  line-height: 16px;
  padding-top: 34px;
  opacity: 0.7;

  color: #FFFFFF;
}

.nedurak li{
  margin-bottom: 20px;

}
.Footer_Footer_links_сontacts {
  width: 52px;
  height: 16px;
  font-size: 12px;
  line-height: 16px;
  padding-top: 34px;
  opacity: 0.7;
  font-style: normal;



  color: #FFFFFF;
}
.Footer_Footer_company {
  margin-left: 180px;
  width: 133px;
  height: 151px;
  font-style: normal;
  font-size: 14px;
  line-height: 19px;
  color: #FFFFFF;
  opacity: 0.7;

  
}
.Footer_Footer_company_y {
  padding-top: 34px;
  width: 133px;
  height: 16px;
  font-size: 12px;
  line-height: 16px;
  opacity: 0.7;

  color: #FFFFFF;

}
.Footer_Footer_company_p {
  width: 75px;
  height: 16px;
  font-size: 12px;
  line-height: 16px;
  opacity: 0.7;
  padding-top: 34px;
  color: #FFFFFF;
}
.Footer_Footer_company_c {
  width: 52px;
  height: 16px;
  font-size: 12px;
  line-height: 16px;
  padding-top: 34px;
  opacity: 0.7;
  color: #FFFFFF;
}
.Footer_Footer_contacts {
  width: 134px;
  height: 173px;
  font-size: 14px;
  line-height: 19px;
  margin-left: 141px;



  color: #FFFFFF;
}
.street_contacts {
  text-align: left;
  
  /* Get in touch */
  width: 152px;
  height: 32px;
  font-size: 12px;
  opacity: 0.8;

}
.number {
  width: 116px;
  height: 16px;
  margin-top: 31px;
  font-size: 12px;
  opacity: 0.7;

}

.pstu_ru{
  width: 116px;
  height: 16px;
  margin-top: 25px;
  font-size: 12px;
  opacity: 0.7;

}
/* .footer22 {
} */
.footer2 {
  text-align: center;
  min-width: 100%;
  background: #040C18;
  
}

/* .Footer_Footer_Footer {
}
.footer_03 {
} */
h11{
font-family: Manrope;
font-size: 14px;
font-weight: 800;
line-height: 19.12px;
text-align: left;
color: #fff;
}
h12{
  font-family: Manrope;
  font-size: 14px;
  font-weight: 800;
  line-height: 19.12px;
  text-align: left;
  color: #fff;
  padding-left: 178px;
}
h12{
  font-family: Manrope;
  font-size: 14px;
  font-weight: 800;
  line-height: 19.12px;
  text-align: left;
  color: #fff;
  /*  */padding-left: 178px;
  display: flex;
}
h12{
  font-family: Manrope;
  font-size: 14px;
  font-weight: 800;
  line-height: 19.12px;
  text-align: left;
  color: #fff;
  display: flex;
  
}
h13{
  font-family: Manrope;
  font-size: 14px;
  font-weight: 800;
  line-height: 19.12px;
  text-align: left;
  color: #fff;
}
/* K */
}